#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
// mouse import
#include <dt-bindings/zmk/mouse.h>

// helpers
#include "zmk-helpers/helper.h"
// Source desired key-position labels
#include "zmk-helpers/key-labels/glove80.h"

// layers
#define _HOM 0
#define _MHOM 1
#define _NAV 2
#define _MNAV 3
#define _NUM 4
#define _GAM 5

#define __________ &trans
#define XXXXXXXXXX &none

// syntax shortening
#define BRIDN   C_BRI_DN
#define BRIUP   C_BRI_UP
#define PREV    C_PREV
#define NEXT    C_NEXT
#define MUTE    C_MUTE
#define VOLDN   C_VOL_DN
#define VOLUP   C_VOL_UP
#define PSBRK   PAUSE_BREAK
#define NUM     KP_NUM
#define NPEQ    KP_EQUAL
#define NPDV    KP_DIVIDE
#define NPMP    KP_MULTIPLY
#define NPMN    KP_MINUS
#define NPPL    KP_PLUS
#define NPEN    KP_ENTER
#define NPDT    KP_DOT
#define CMENU   K_CMENU
#define CLR     BT_CLR
#define BL bootloader

//left hand mod shortenings
#define CL      LCTRL
#define SL      LSHFT
#define AL      LALT
#define GL      LGUI

//right hand mod shortening
#define CR      RCTRL
#define SR      RSHFT
#define AR      RALT
#define GR      RGUI

// customs
#define NSHFT   RSHIFT TAB
#define NCTRL   LCTRL SPC
#define SFSP    LSHFT SPC

#define BLU        170
#define GRN         85
#define RED          0
#define PNK        260

#define SAT        100  // saturation
#define MSAT        50  // saturation
#define BRT         25  // brightness


#define R3_L    LT5 LT4 LT3 LT2 LT1 LT0
#define R3_R    RT0 RT1 RT2 RT3 RT4 RT5

#define R4_L    LM5 LM4 LM3 LM2 LM1 LM0
#define R4_R    RM0 RM1 RM2 RM3 RM4 RM5

#define KEYS_L  LC5 LC4 LC3 LC2 LC1 LN5 LN4 LN3 LN2 LN1 LN0 LM5 LM4 LM3 LM2 LM1 LM0 LB5 LB4 LB3 LB2 LB1 LB0 LF5 LF4 LF3 LF2 LF1 // left-hand keys
#define KEYS_R  RC5 RC4 RC3 RC2 RC1 RN5 RN4 RN3 RN2 RN1 RN0 RM5 RM4 RM3 RM2 RM1 RM0 RB5 RB4 RB3 RB2 RB1 RB0 RF5 RF4 RF3 RF2 RF1 // rght-hand keys
#define THUMBS  LH5 LH4 LH3 RH3 RH4 RH5 LH2 LH1 LH0 RH0 RH1 RH2


/* left-hand HRMs */
ZMK_HOLD_TAP(hml,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <200>;                // repeat on tap-into-hold
    require-prior-idle-ms = <150>;
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_R R3_R THUMBS>;
    hold-trigger-on-release;             // delay positional check until key-release
    // hold-while-undecided;
)
//same but not using unecied
ZMK_HOLD_TAP(hul,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <200>;                // repeat on tap-into-hold
    require-prior-idle-ms = <150>;
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_R R3_R THUMBS>;
    // hold-trigger-on-release;             // delay positional check until key-release
)

/* right-hand HRMs */
ZMK_HOLD_TAP(hmr,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <200>;                // repeat on tap-into-hold
    require-prior-idle-ms = <150>;
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_L R3_L THUMBS>;
    hold-trigger-on-release;             // delay positional check until key-release
    // hold-while-undecided;
)
//same but not using undecideds
ZMK_HOLD_TAP(hur,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <200>;                // repeat on tap-into-hold
    require-prior-idle-ms = <150>;
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_L R3_L THUMBS>;
    hold-trigger-on-release;             // delay positional check until key-release
)

// [Left Thumb] Tap: Space, Hold: MO Nav
ZMK_HOLD_TAP(lct,
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    quick-tap-ms = <0>;                // repeat on tap-into-hold
    require-prior-idle-ms = <160>;     // formerly 140, then 150 getting too many false positives
    bindings = <&htonmo>, <&nspc>;
    // hold-trigger-key-positions = <R4_L R4_R RM0 RM5 RH2 RH4 RH5 RT1 RT2 RT3 RT4 LT3 LT2 LT1>;
                                //backspace       Shift/space
)

// Same but for Mac layer
ZMK_HOLD_TAP(mlct,
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    quick-tap-ms = <0>;                // repeat on tap-into-hold
    require-prior-idle-ms = <160>;     // formerly 140, then 150 getting too many false positives
    bindings = <&mhtonmo>, <&nspc>;
    // hold-trigger-key-positions = <R4_L R4_R RM0 RM5 RH2 RH4 RH5 RT1 RT2 RT3 RT4 LT3 LT2 LT1>;
                                //backspace       Shift/space
)
/*                               GLOVE80 KEY MATRIX / LAYOUT MAPPING
 ╭────────────────────╮       ╭────────────────────╮ ╭────────────────────╮       ╭────────────────────╮
 │  0   1   2   3   4 ╰───┬───╯  5   6   7   8   9 │ │ LC5 LC4 LC3 LC2 LC1╰───┬───╯ RC1 RC2 RC3 RC4 RC5│
 │ 10  11  12  13  14  15 │ 16  17  18  19  20  21 │ │ LN5 LN4 LN3 LN2 LN1 LN0│ RN0 RN1 RN2 RN3 RN4 RN5│
 │ 22  23  24  25  26  27 │ 28  29  30  31  32  33 │ │ LT5 LT4 LT3 LT2 LT1 LT0│ RT0 RT1 RT2 RT3 RT4 RT5│
 │ 34  35  36  37  38  39 │ 40  41  42  43  44  45 │ │ LM5 LM4 LM3 LM2 LM1 LM0│ RM0 RM1 RM2 RM3 RM4 RM5│
 │ 46  47  48  49  50  51 │ 58  59  60  61  62  63 │ │ LB5 LB4 LB3 LB2 LB1 LB0│ RB0 RB1 RB2 RB3 RB4 RB5│
 │ 64  65  66  67  68 ╭───┴───╮ 75  76  77  78  79 │ │ LF5 LF4 LF3 LF2 LF1╭───┴───╮ RF1 RF2 RF3 RF4 RF5│
 ╰───────────┬────────┴───┬───┴────────┬───────────╯ ╰───────────┬────────┴───┬───┴────────┬───────────╯
             │ 52  53  54 │ 55  56  57 │                         │ LH5 LH4 LH3│ RH3 RH4 RH5│
             │ 69  70  71 │ 72  73  74 │                         │ LH2 LH1 LH0│ RH0 RH1 RH2│
             ╰────────────┴────────────╯                         ╰────────────┴────────────╯
 */

// [Right Thumb] Tap: Tab, Hold: Shift
ZMK_HOLD_TAP(lsh,
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&kp>, <&ntab>;
    hold-while-undecided;
)

// [Right Thumb] Tap: Space, Hold: Shift
ZMK_HOLD_TAP(lsr,
    flavor = "hold-preferred";
    tapping-term-ms = <200>;
    bindings = <&kp>, <&nspc>;
    hold-while-undecided;
)

/ {
    macros {
        // Bluetoth Profiles
        // -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        bt_0: bt_profile_macro_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 0>;
        };
        bt_1: bt_profile_macro_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 1>;
        };
        bt_2: bt_profile_macro_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 2>;
        };
        bt_3: bt_profile_macro_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 3>;
        };

        // Layer Toggles with Colors
        // -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        to_hom: to_hom {
            compatible = "zmk,behavior-macro";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
                = <&macro_press &to _HOM>
                , <&macro_tap &rgb_ug RGB_COLOR_HSB(BLU, SAT, BRT)>
                ;
        };
        to_nav: to_nav {
            compatible = "zmk,behavior-macro";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
                = <&macro_press &to _NAV>
                , <&macro_tap &rgb_ug RGB_COLOR_HSB(RED, SAT, BRT)>
                ;
        };
        to_mhom: to_mhom {
            compatible = "zmk,behavior-macro";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
                = <&macro_press &to _MHOM>
                , <&macro_tap &rgb_ug RGB_COLOR_HSB(BLU, MSAT, BRT)>
                ;
        };
        to_mnav: to_mnav {
            compatible = "zmk,behavior-macro";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
                = <&macro_press &to _MNAV>
                , <&macro_tap &rgb_ug RGB_COLOR_HSB(RED, MSAT, BRT)>
                ;
        };
        to_num: to_num {
            compatible = "zmk,behavior-macro";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
                = <&macro_press &to _NUM>
                , <&macro_tap &rgb_ug RGB_COLOR_HSB(GRN, SAT, BRT)>
                ;
        };
        to_gam: to_gam {
            compatible = "zmk,behavior-macro";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
                = <&macro_press &to _GAM>
                , <&macro_tap &rgb_ug RGB_COLOR_HSB(PNK, SAT, BRT)>
                ;
        };
        htonmo: home_to_nav_momentary {
            compatible = "zmk,behavior-macro";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap &rgb_ug RGB_COLOR_HSB(RED, SAT, BRT)>
                , <&macro_press &mo _NAV>
                , <&macro_pause_for_release>
                , <&macro_release &mo _NAV>
                , <&macro_tap &rgb_ug RGB_COLOR_HSB(BLU, SAT, BRT)>
                ;
        };
        mhtonmo: mac_home_to_nav_momentary {
            compatible = "zmk,behavior-macro";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap &rgb_ug RGB_COLOR_HSB(RED, MSAT, BRT)>
                , <&macro_press &mo _MNAV>
                , <&macro_pause_for_release>
                , <&macro_release &mo _MNAV>
                , <&macro_tap &rgb_ug RGB_COLOR_HSB(BLU, MSAT, BRT)>
                ;
        };

        // Macros
        // -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        search: search_highlighted_selection {              //                                          (Search Highlighted Section)
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp C &kp T &kp V>
                , <&macro_release &kp LCTRL>
                , <&macro_tap &kp ENTER>
                ;
        };
        cntrc: click_center {                               //                                          (Click Center of Page)
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_wait_time 50>
                , <&macro_tap &kp F20 &mkp LCLK>
                ;
        };
        sidec: click_side {                                 //                                          (Click Left Side of Page)
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_wait_time 50>
                , <&macro_tap &kp F19 &mkp LCLK>
                ;
        };
        insp: insert_space{                                 //                                          (Space and Move Cursor Left)
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_wait_time 10>
                , <&macro_tap &kp SPACE &kp LEFT>
                ;
        };
        kalshi: kalshi_buy{                                 //                                          (Enter + Tab + Tab + Enter)
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&kp F17>
                , <&kp ENTER>
                , <&macro_wait_time 200>
                , <&kp F17>
                , <&kp F17>
                , <&kp ENTER>
                ;
        };
        updir: up_directory {                               //                                          (Send "../")
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <1>;
            tap-ms = <1>;
            bindings
                = <&macro_wait_time 1>
                , <&macro_tap &kp DOT &kp DOT &kp FSLH>
                ;
        };
        dblsp: double_space {                               //                                          (Send "  ")
            compatible = "zmk,behavior-macro";
            wait-ms = <50>;
            tap-ms = <50>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp SPC &kp SPC>
                ;
        };
        turboc: turbo_click {                               //                                          (17 Clicks)
            compatible = "zmk,behavior-macro";
            wait-ms = <30>;
            tap-ms = <30>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap &mkp LCLK &mkp LCLK &mkp LCLK &mkp LCLK &mkp LCLK &mkp LCLK &mkp LCLK &mkp LCLK &mkp LCLK &mkp LCLK &mkp LCLK &mkp LCLK &mkp LCLK &mkp LCLK &mkp LCLK &mkp LCLK &mkp LCLK >
                ;
        };
        btb: back_tab_firefox {                            //                                          (Undo Tab)
            compatible = "zmk,behavior-macro";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LS(F17)>
                ;
        };
        mc_selw: mc_select_word {                          //                                          (Select Word)
            compatible = "zmk,behavior-macro";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LA(LEFT) &kp LA(RIGHT)>
                , <&macro_press &kp LA(LS(LEFT))>
                , <&macro_pause_for_release>
                , <&macro_release &kp LA(LS(LEFT))>
                ;
        };
        sndl: send_window_left {                           //                                          (Send Window Left)
            compatible = "zmk,behavior-macro";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
                = <&kp LS(LG(LEFT))>
                ;
        };
        sndr: send_window_right {                          //                                          (Send Window Right)
            compatible = "zmk,behavior-macro";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
                = <&kp LS(LG(RIGHT))>
                ;
        };
        sheet: google_sheet_button {                               //                                          (17 Clicks)
            compatible = "zmk,behavior-macro";
            wait-ms = <30>;
            tap-ms = <30>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp UP &kp RIGHT &kp RIGHT &kp RIGHT &kp LA(ENTER)>
                ;
        };
        // tblf: tab_left {                                   //                                          (Move Left a Tab)
        //     compatible = "zmk,behavior-macro";
        //     wait-ms = <0>;
        //     tap-ms = <0>;
        //     #binding-cells = <0>;
        //     bindings
        //         = <&kp LC(LS(TAB))>
        //         ;
        // };
        // tbrt: tab_right {                                  //                                          (Move Right a Tab)
        //     compatible = "zmk,behavior-macro";
        //     wait-ms = <0>;
        //     tap-ms = <0>;
        //     #binding-cells = <0>;
        //     bindings
        //         = <&kp LC(TAB)>
        //         ;
        // };
        eqsp: equals_space {                                 //                                          (_)
            compatible = "zmk,behavior-macro";
            wait-ms = <0>;
            tap-ms = <0>;
            #binding-cells = <0>;
            bindings
                = <&kp EQUAL &kp LEFT >
                ;
        };


        // -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    };

    behaviors {
        mtly: mod_tap_layer {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            bindings = <&htonmo>, <&to_nav>;
        };
        
        mmtly: mac_mod_tap_layer {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            bindings = <&mhtonmo>, <&to_mnav>;
        };

        //  SHIFT
        // -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        npgup: npgdn_up {                                   // Shift + PGUP  = SHFT + WIN + Left        (Send Desktop Left)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp PG_UP>, <&kp LS(LG(LEFT))>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        npgdn: new_page_down {                              // Shift + PGDN  = SHFT + WIN + Right       (Send Desktop Right)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp PG_DN>, <&kp LS(LG(RIGHT))>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        nleft: new_left_arrow {                             // LSFT  + Left  = CTRL + SHFT + TAB        (Move Tab Right)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LEFT>, <&kp LC(LS(TAB))>;
            mods = <(MOD_LSFT)>;
        };
        nright: new_right_arrow {                           // LSFT  + Right = CTRL + TAB               (Move Tab Right)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp RIGHT>, <&kp LC(TAB)>;
            mods = <(MOD_LSFT)>;
        };
        clickr: clicker {                                   // Shift + clickr= click left               (Click Left of Screen)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&cntrc>, <&sidec>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        nbspc: new_backspace {                              // Shift + BSPC  = DELETE                   (Delete)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BSPC>, <&kp DEL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        nend: new_end {                                     // Shift + END   = Firefox Tab              (Firefox TAb)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp END>, <&sndl>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        nhome: new_home {                                   // Shift + Home  = Firefox Tab Back         (Firefox Tab Back)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp HOME>, <&sndr>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        npause: new_pause {                                 // Shift + Pause = Kalshi Buy               (Kalshi Buy)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp C_PP>, <&kalshi>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        colon: colon {                                 // Shift + Pause = Kalshi Buy               (Kalshi Buy)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(SEMI)>, <&kp LS(BSLH)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        undr: underscore {                               // Ctrl  +  .    =  )                       (Right Parinthesis)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(MINUS)>, <&kp LS(MINUS)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        l_curl: left_curly_bracket {                               // Ctrl  +  .    =  )                       (Right Parinthesis)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(LBKT)>, <&kp LS(LBKT)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        r_curl: right_curly_bracket {                               // Ctrl  +  .    =  )                       (Right Parinthesis)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(RBKT)>, <&kp LS(RBKT)>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        //  CONTROL
        // -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        ntab: new_tab {                                     // Ctl   + Space = CTL + WIN + Right        (Move Desktop Right)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp TAB>, <&kp LC(LG(LEFT))>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        nspc: new_space {                                   // Ctrl  + Space = CTL + WIN + Left         (Move Desktop Left)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SPC>, <&kp LC(LG(RIGHT))>;
            mods = <(MOD_LCTL)>;
        };
        ncomma: new_comma {                                 // Ctrl  +  ,    =  (                       (Left Parinthesis)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp LS(N9)>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        nperiod: new_period {                               // Ctrl  +  .    =  )                       (Right Parinthesis)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp LS(N0)>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        // -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        tblf: tab_left {                                   //                                          (Move Left a Tab)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LC(LS(TAB))>, <&kp LC(LS(TAB))>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
        tbrt: tab_right {                                  //                                          (Move Right a Tab)
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LC(TAB)>, <&kp LC(TAB)>;
            mods = <(MOD_LCTL|MOD_RCTL)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        _HOM {
            bindings = <
            // ┌──────────┬──────────┬──────────┬──────────┬──────────┐                                                                                         ┌──────────┬──────────┬──────────┬──────────┬──────────┐
            // |    F1    |    F2    |    F3    |    F4    |    F5    |                                                                                         |    F6    |    F7    |    F8    |    F9    |    F10   |
                &kp F1     &kp F2     &kp F3  &rgb_ug RGB_TOG &kp F5                                                                                             &kp F6     &kp F7     &kp F8     &kp F9     &kp F10
            // ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┐                                                                   ┌──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            // |   GUI    |    1     |    2     |    3     |    4     |    5     |                                                                   |    6     |    7     |    8     |    9     |    0     |    \     |
                &kp LGUI   &kp N1     &kp N2     &kp F6     &kp N4     &kp N5                                                                         &kp N6     &kp N7     &kp F5     &kp N9     &kp N0     &kp BSLH
            // ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤                                                                   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            // |    -     |    Q     |    W     |    E     |    R     |    T     |                                                                   |    Y     |    U     |    I     |    O     |    P     |    =     |
                &kp MINUS  &kp Q      &kp W      &kp E      &kp R      &kp T                                                                          &kp Y      &kp U      &kp I      &kp O      &kp P      &kp EQUAL
            // ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤                                                                   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            // |   MENU   |    A     |    S     |    D     |    F     |    G     |                                                                   |    H     |    J     |    K     |    L     |    '     |  ENTER   |
                &kp K_APP  &hml SR A  &hml GL S  &hul AL D  &hml CL F  &kp G                                                                          &kp H      &hmr CR J  &hur AR K  &hmr GR L  &hmr SR SQT &kp ENTER
            // ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┬──────────┬──────────┐ ┌──────────┬──────────┬──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            // |    `     |    Z     |    X     |    C     |    V     |    B     |   PGUP   |   PGDN   |  DELETE  | |  System  |   HOME   |   END    |    N     |    M     |    ,     |    .     |    /     | Control  |
                &mc_selw   &kp Z      &kp X      &kp C      &kp V      &kp B      &npgup     &npgdn     &kp DEL      &npause    &nhome     &nend      &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH   &to_mhom
            // ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            // |  LAYER   |   DOWN   |    UP    |   LEFT   |  RIGHT   |          |  SHIFT   |    ESC   |  ENTER   | |    F4    |BACKSPACE |  SPACE   |          |   DOWN   |    UP    |  LEFT    |  RIGHT   |  LAYER   |
                &to_gam    &kp DOWN   &kp UP     &nleft     &nright               &lsh SL 0  &kp ESC    &kp ENTER    &kp F4     &nbspc     &lct CL 0             &kp DOWN   &kp UP     &nleft     &nright    &mtly 1 1
            // └──────────┴──────────┴──────────┴──────────┴──────────┘          └──────────┴──────────┴──────────┘ └──────────┴──────────┴──────────┘          └──────────┴──────────┴──────────┴──────────┴──────────┘
            >;
        };
        
        _MHOM {
            bindings = <
            // ┌──────────┬──────────┬──────────┬──────────┬──────────┐                                                                                         ┌──────────┬──────────┬──────────┬──────────┬──────────┐
            // |    F1    |    F2    |    F3    |    F4    |    F5    |                                                                                         |    F6    |    F7    |    F8    |    F9    |    F10   |
                __________ __________ __________ __________ __________                                                                                           __________ __________ __________ __________ __________  
            // ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┐                                                                   ┌──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            // |   GUI    |    1     |    2     |    3     |    4     |    5     |                                                                   |    6     |    7     |    8     |    9     |    0     |    \     |
                __________ __________ __________ __________ __________ __________                                                                     __________ __________ __________ __________ __________ __________  
            // ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤                                                                   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            // |    -     |    Q     |    W     |    E     |    R     |    T     |                                                                   |    Y     |    U     |    I     |    O     |    P     |    =     |
                __________ __________ __________ __________ __________ __________                                                                     __________ __________ __________ __________ __________ __________  
            // ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤                                                                   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            // |   MENU   |    A     |    S     |    D     |    F     |    G     |                                                                   |    H     |    J     |    K     |    L     |    '     |  ENTER   |
                __________ __________ __________ &hul CL D  &hml AL F  __________                                                                     __________ &hmr AR J  &hur CR K  __________ __________ __________  
            // ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┬──────────┬──────────┐ ┌──────────┬──────────┬──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            // |    `     |    Z     |    X     |    C     |    V     |    B     |   PGUP   |   PGDN   |  DELETE  | |  System  |   HOME   |   END    |    N     |    M     |    ,     |    .     |    /     | Control  |
                __________ __________ __________ __________ __________ __________ __________ __________ __________   __________ __________ __________ __________ __________ __________ __________ __________ &to_hom  
            // ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            // |  LAYER   |   DOWN   |    UP    |   LEFT   |  RIGHT   |          |  SHIFT   |    ESC   |  ENTER   | |    F4    |BACKSPACE |  SPACE   |          |   DOWN   |    UP    |  LEFT    |  RIGHT   |  LAYER   |
                __________ __________ __________ __________ __________            __________ __________ __________   __________ __________ &mlct CL 0            __________ __________ __________ __________ __________  
            // └──────────┴──────────┴──────────┴──────────┴──────────┘          └──────────┴──────────┴──────────┘ └──────────┴──────────┴──────────┘          └──────────┴──────────┴──────────┴──────────┴──────────┘
            >;
        };

        _NAV {
            bindings = <
            // ┌──────────┬──────────┬──────────┬──────────┬──────────┐                                                                                         ┌──────────┬──────────┬──────────┬──────────┬──────────┐
            // |    F1    |    F2    |    F3    |    F4    |    F5    |                                                                                         |    F6    |    F7    |    F8    |    F9    |    F10   |
                &BL        __________ __________ __________ __________                                                                                           __________ __________ __________ __________ &BL
            // ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┐                                                                   ┌──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            // |   GUI    |    1     |    2     |    3     |    4     |    5     |                                                                   |    6     |    7     |    8     |    9     |    0     |    \     |
            // hello!!!!
                &bt_0      &bt_1      &bt_2      &sheet     __________ __________                                                                     __________ __________ __________ __________ __________ __________
            // ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤                                                                   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            // |    -     |    Q     |    W     |    E     |    R     |    T     |                                                                   |    Y     |    U     |    I     |    O     |    P     |    =     |
                __________ __________ &kp GRAVE  &l_curl    &r_curl    &kp MINUS                                                                      &updir     &colon     &undr      &kp BSLH   __________ __________
            //  __________ __________ &kp GRAVE  &kp MINUS  &undr      __________                                                                     &updir     &colon     &kp SEMI   &kp BSLH   __________ __________
            // ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤                                                                   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            // |   MENU   |    A     |    S     |    D     |    F     |    G     |                                                                   |    H     |    J     |    K     |    L     |    '     |  ENTER   |
                &clickr    &hml SR N1 &hml GL N2 &hul AL N3 &hml CL N4 &kp N5                                                                         &kp N6     &hmr CR N7 &hur AR N8 &hmr GR N9 &hmr SR N0 __________
            // ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┬──────────┬──────────┐ ┌──────────┬──────────┬──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            // |    `     |    Z     |    X     |    C     |    V     |    B     |   PGUP   |   PGDN   |  DELETE  | |  System  |   HOME   |   END    |    N     |    M     |    ,     |    .     |    /     | Control  |
                &to_num    &sheet     &kp SEMI   &kp LBKT   &kp RBKT   &insp      &kp F17    &kp F18    &kalshi      __________ __________ __________ &eqsp      &kp EQUAL  __________ __________ __________ &search
            // ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            // |  LAYER   |   DOWN   |    UP    |   LEFT   |  RIGHT   |          |  SHIFT   |    ESC   |  ENTER   | |    F4    |BACKSPACE |  SPACE   |          |   DOWN   |    UP    |  LEFT    |  RIGHT   |  LAYER   |
                &to_hom    &kp VOLDN  &kp VOLUP  &kp PREV   &kp NEXT              &lsr SL 0  __________ __________   __________ __________ __________            &kp VOLDN  &kp VOLUP  &tblf      &tbrt      &to_hom
            // └──────────┴──────────┴──────────┴──────────┴──────────┘          └──────────┴──────────┴──────────┘ └──────────┴──────────┴──────────┘          └──────────┴──────────┴──────────┴──────────┴──────────┘
            >;
        };

        _MNAV {
            bindings = <
            // ┌──────────┬──────────┬──────────┬──────────┬──────────┐                                                                                         ┌──────────┬──────────┬──────────┬──────────┬──────────┐
            // |    F1    |    F2    |    F3    |    F4    |    F5    |                                                                                         |    F6    |    F7    |    F8    |    F9    |    F10   |
                &BL        __________ __________ __________ __________                                                                                           __________ __________ __________ __________ &BL
            // ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┐                                                                   ┌──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            // |   GUI    |    1     |    2     |    3     |    4     |    5     |                                                                   |    6     |    7     |    8     |    9     |    0     |    \     |
                &bt_0      &bt_1      &bt_2      &sheet     __________ __________                                                                     __________ __________ __________ __________ __________ __________
            // ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤                                                                   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            // |    -     |    Q     |    W     |    E     |    R     |    T     |                                                                   |    Y     |    U     |    I     |    O     |    P     |    =     |
                __________ __________ &kp GRAVE  &kp MINUS  &undr      __________                                                                     &updir     &colon     &kp SEMI   &kp BSLH   __________ __________
            // ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤                                                                   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            // |   MENU   |    A     |    S     |    D     |    F     |    G     |                                                                   |    H     |    J     |    K     |    L     |    '     |  ENTER   |
                &clickr    &hml SR N1 &hml GL N2 &hul CL N3 &hml AL N4 &kp N5                                                                         &kp N6     &hmr AR N7 &hur CR N8 &hmr GR N9 &hmr SR N0 __________
            // ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┬──────────┬──────────┐ ┌──────────┬──────────┬──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            // |    `     |    Z     |    X     |    C     |    V     |    B     |   PGUP   |   PGDN   |  DELETE  | |  System  |   HOME   |   END    |    N     |    M     |    ,     |    .     |    /     | Control  |
                &to_num    __________ &sheet     &kp LBKT   &kp RBKT   &insp      &kp F17    &kp F18    &kalshi      __________ __________ __________ &eqsp      &kp EQUAL  __________ __________ __________ &search 
            // ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            // |  LAYER   |   DOWN   |    UP    |   LEFT   |  RIGHT   |          |  SHIFT   |    ESC   |  ENTER   | |    F4    |BACKSPACE |  SPACE   |          |   DOWN   |    UP    |  LEFT    |  RIGHT   |  LAYER   |
                &to_hom    &kp VOLDN  &kp VOLUP  &kp PREV   &kp NEXT              &lsr SL 0  __________ __________   __________ __________ __________            &kp VOLDN  &kp VOLUP  &tblf      &tbrt      &to_mhom
            // └──────────┴──────────┴──────────┴──────────┴──────────┘          └──────────┴──────────┴──────────┘ └──────────┴──────────┴──────────┘          └──────────┴──────────┴──────────┴──────────┴──────────┘
            >;
        };
        
        _NUM {
            bindings = <
            // ┌──────────┬──────────┬──────────┬──────────┬──────────┐                                                                                         ┌──────────┬──────────┬──────────┬──────────┬──────────┐
            // |    F1    |    F2    |    F3    |    F4    |    F5    |                                                                                         |    F6    |    F7    |    F8    |    F9    |    F10   |
                &bt BT_CLR &kp BRIUP  &kp PREV   &kp NEXT   &kp C_PP                                                                                             &kp MUTE   &kp VOLDN  &kp VOLUP  XXXXXXXXXX &kp PSBRK
            // ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┐                                                                   ┌──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            // |   GUI    |    1     |    2     |    3     |    4     |    5     |                                                                   |    6     |    7     |    8     |    9     |    0     |    \     |
                &BL        XXXXXXXXXX XXXXXXXXXX XXXXXXXXXX XXXXXXXXXX &kp HOME                                                                       &kp LPAR   &kp NUM    &kp NPEQ   &kp NPDV   &kp NPMP   &BL
            // ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤                                                                   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            // |    -     |    Q     |    W     |    E     |    R     |    T     |                                                                   |    Y     |    U     |    I     |    O     |    P     |    =     |
              &out OUT_USB XXXXXXXXXX XXXXXXXXXX &kp UP     XXXXXXXXXX &kp END                                                                        &kp RPAR   &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp NPMN   &kp SLCK
            // ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤                                                                   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            // |   MENU   |    A     |    S     |    D     |    F     |    G     |                                                                   |    H     |    J     |    K     |    L     |    '     |  ENTER   |
           &rgb_ug RGB_EFF XXXXXXXXXX &kp LEFT   &kp DOWN   &kp RIGHT  &kp PG_UP                                                                      &kp PRCNT  &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp NPPL   XXXXXXXXXX
            // ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┬──────────┬──────────┐ ┌──────────┬──────────┬──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            // |    `     |    Z     |    X     |    C     |    V     |    B     |   PGUP   |   PGDN   |  DELETE  | |  System  |   HOME   |   END    |    N     |    M     |    ,     |    .     |    /     | Control  |
                &to_nav    &kp CMENU  XXXXXXXXXX &kp F11    &kp F12    &kp PG_DN  &bt_1      &bt_2      &bt_3        __________ __________ __________ &kp COMMA  &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp NPEN   &to_gam
            // ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            // |  LAYER   |   DOWN   |    UP    |   LEFT   |  RIGHT   |          |  SHIFT   |    ESC   |  ENTER   | |    F4    |BACKSPACE |  SPACE   |          |   DOWN   |    UP    |  LEFT    |  RIGHT   |  LAYER   |
                __________ &kp CAPS   &kp INS    &kp F11    &kp F12               &bt_0      __________ &out OUT_USB __________ __________ __________            &kp KP_N0  &kp KP_N0  &kp NPDT   &kp NPEN   __________
            // └──────────┴──────────┴──────────┴──────────┴──────────┘          └──────────┴──────────┴──────────┘ └──────────┴──────────┴──────────┘          └──────────┴──────────┴──────────┴──────────┴──────────┘
            >;
        };

        _GAM {
            bindings = <
            // ┌──────────┬──────────┬──────────┬──────────┬──────────┐                                                                                         ┌──────────┬──────────┬──────────┬──────────┬──────────┐
            // |    F1    |    F2    |    F3    |    F4    |    F5    |                                                                                         |    F6    |    F7    |    F8    |    F9    |    F10   |
                &to_hom    XXXXXXXXXX XXXXXXXXXX XXXXXXXXXX XXXXXXXXXX                                                                                           XXXXXXXXXX XXXXXXXXXX XXXXXXXXXX XXXXXXXXXX XXXXXXXXXX
            // ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┐                                                                   ┌──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            // |   GUI    |    1     |    2     |    3     |    4     |    5     |                                                                   |    6     |    7     |    8     |    9     |    0     |    \     |
                XXXXXXXXXX XXXXXXXXXX XXXXXXXXXX XXXXXXXXXX XXXXXXXXXX XXXXXXXXXX                                                                     XXXXXXXXXX XXXXXXXXXX XXXXXXXXXX XXXXXXXXXX XXXXXXXXXX XXXXXXXXXX
            // ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤                                                                   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            // |    -     |    Q     |    W     |    E     |    R     |    T     |                                                                   |    Y     |    U     |    I     |    O     |    P     |    =     |
                &kp TAB    &kp ESC    &kp TAB    &kp ENTER  &dblsp     XXXXXXXXXX                                                                     XXXXXXXXXX &dblsp     &kp ENTER  &kp TAB    &kp ESC    &kp TAB
            // ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤                                                                   ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            // |   MENU   |    A     |    S     |    D     |    F     |    G     |                                                                   |    H     |    J     |    K     |    L     |    '     |  ENTER   |
                &kp ESC    &kp DOWN   &kp UP     &nleft     &nright    XXXXXXXXXX                                                                     XXXXXXXXXX &kp DOWN   &kp UP     &nleft     &nright    &kp ESC
            // ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┬──────────┬──────────┐ ┌──────────┬──────────┬──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            // |    `     |    Z     |    X     |    C     |    V     |    B     |   PGUP   |   PGDN   |  DELETE  | |  System  |   HOME   |   END    |    N     |    M     |    ,     |    .     |    /     | Control  |
                XXXXXXXXXX XXXXXXXXXX &kp CR     &kp SL     &turboc    XXXXXXXXXX &dblsp     __________ __________   __________ __________ &dblsp     XXXXXXXXXX &turboc    &kp SR     &kp CR     XXXXXXXXXX &to_num
            // ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤ ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
            // |  LAYER   |   DOWN   |    UP    |   LEFT   |  RIGHT   |          |  SHIFT   |    ESC   |  ENTER   | |    F4    |BACKSPACE |  SPACE   |          |   DOWN   |    UP    |  LEFT    |  RIGHT   |  LAYER   |
                &to_hom    XXXXXXXXXX XXXXXXXXXX XXXXXXXXXX XXXXXXXXXX            &mt NCTRL  &kp ENTER  __________   __________ &kp ENTER  &mt SFSP              &turboc    XXXXXXXXXX XXXXXXXXXX XXXXXXXXXX &to_hom
            // └──────────┴──────────┴──────────┴──────────┴──────────┘          └──────────┴──────────┴──────────┘ └──────────┴──────────┴──────────┘          └──────────┴──────────┴──────────┴──────────┴──────────┘
            >;
        };
// ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    };
};
